# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Added details
bin
pkg
*.bak

# Robot File
ATDD/ui/*.html
ATDD/ui/*.xml
ATDD/ui/*.png